@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
}

header {
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
}
a{
    list-style: none !important;
    text-decoration: none;
    color: #000;
}
.dark-mode{
    max-width: 1300px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.dark-mode:before {
    content: 'DarkMode';
}
.dark{
    display: flex;
    max-width: 25px;
    max-height: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    width: 100%;
}
.dark-active{
    background-color: #253A44;
}
.darkColor-active:before {
    color: #fff;
    content: 'LightMode';
}
.darkLightMode-active{
    color: #fff;
}
.navbar{
    display: flex;
    max-width: 1300px;
    width: 100%;
    max-height: 80px;
    justify-content: space-between;
    align-items: center;
}
.navbar-brand{
    height: 100%;
}
.navbar-brand img{
    width: 100%;
    max-height: 100%;
    max-width: 200px;
    padding: 10px 10px;
}
.navbar-collapse{
    display: flex;
}
.navbar-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 0.5rem;
}
.nav-item a{
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid #198754;
    background-color: #198754;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    color: #fff;
    transition: .5s;
}
.nav-item a:hover{
    color: #198754;
    border: 1px solid #198754;
    background-color: transparent;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
hr {
    margin-top: 0;
    margin-bottom: .5rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .2);
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
li{
    list-style: none !important;
}
.content {
    display: flex;
    max-width: 1300px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.content-social{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.content a{
    float: left;
    margin: 0;
    padding: 10px 30px;
    font-size: 12px;
    border-radius: 3px;
    width: 100%;
}
.content a.facebook {
    border: 1px solid #4861a3;
    background-color: #4861a3;
    color: #fff;
    transition: 0.5s;
}
.content a.facebook:hover {
    border: 1px solid #4861a3;
    color: #4861a3;
    background-color: transparent;
}
.content a.instagram {
    border: 1px solid #C2185B;
    background-color: #C2185B;
    color: #fff;
    transition: 0.5s;
}
.content a.instagram:hover {
    border: 1px solid #C2185B;
    color: #C2185B;
    background-color: transparent;
}
.content a.whatsapp {
    border: 1px solid #40C351;
    background-color: #40C351;
    color: #fff;
    transition: 0.5s;
}
.content a.whatsapp:hover {
    border: 1px solid #40C351;
    color: #40C351;
    background-color: transparent;
}
.content a.segunda-via {
    border: 1px solid #d3af6e;
    background-color: #d3af6e;
    color: #fff;
    transition: 0.5s;
}
.content a.segunda-via:hover {
    border: 1px solid #d3af6e;
    color: #d3af6e;
    background-color: transparent;
}
.owl-carousel{
    margin: 1rem auto;
    display: flex!important;
    flex-direction: column;
    max-width: 1300px;
}
.owl-stage{
    transition: all .8s ease 0s!important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item{
    display: flex;
    max-width: 1300px;
    width: 100%;
    align-items: center;
    margin: auto;
    max-height: 450px;
}
.card-main{
    display: flex;
    max-width: 1300px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}
.cards{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;
}
.cards li{
    width: 100%;
}
.cards li:first-child h4{
    background-color: rgb(42 163 27);
    color: #fff;
    margin: 0;
    padding: 10px 30px;
    border-radius: 3px;
    width: 100%;
    font-size: 24px;
    gap: 0.5rem;
    display: flex;
    align-items: center;
}
.cards li:nth-child(2) h4{
    background-color: #1835c2;
    color: #fff;
    margin: 0;
    padding: 10px 30px;
    border-radius: 3px;
    width: 100%;
    font-size: 24px;
    gap: 0.5rem;
    display: flex;
    align-items: center;
}
.cards li:nth-child(3) h4{
    background-color: #ff8100;
    color: #fff;
    margin: 0;
    padding: 10px 30px;
    border-radius: 3px;
    width: 100%;
    font-size: 24px;
    gap: 0.5rem;
    display: flex;
    align-items: center;
}
.plano-vivanete{
    max-width: 1300px;
    width: 100%;
    margin: auto;
}
.plano-vivanete_content{
    margin: 2rem auto;
    text-align: center;
    border: 2px solid transparent;
    color: #fff;
    border-radius: 0.5rem;
    background: rgb(0,0,0);
    background: linear-gradient(50deg, rgba(88,18,93,100) 21%, rgba(31,33,104,20) 71%);
}
.plano-vivanete_content h1{
    margin-bottom: 1rem !important;
    font-weight: 500!important;
    font-size: calc(1.025rem + .3vw)!important;
}
.plano-vivanete_content h2{
    font-weight: 700!important;
    font-size: calc(1.125rem + .3vw)!important;
}
.ver-mais{
    display: flex;
    max-width: 1300px;
    width: 100%;
    margin: auto;
    justify-content: center;
}
.ver-mais-content{
    align-items: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    border: none;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    font-size: 1rem;
    background: linear-gradient(50deg, rgb(88, 18, 93) 21%, rgb(31, 33, 104) 71%);
    border-radius: 1rem;
    color: #fff;
    cursor: pointer;
}
.serviços{
    max-width: 1300px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.serviços-title{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.serviços-title h2{
    line-height: 3rem;
    font-size: 2rem;
    font-weight: 700;
}
.serviços-title h3{
    line-height: 2rem;
    font-size: 1rem;
    font-weight: 400;
}
.service_content_card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.service_card {
    border: 1px solid transparent;
    border-radius: .5rem;
    padding: 20px;
    text-align: center;
    color: #fff;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service_card h2{
    box-shadow: 0 8px 9px rgb(0 0 0 / 20%);
    border-radius: 0.5rem;
}
.service_card:first-child{
    background-color: #2aa31b;
}
.service_card:first-child h2{
    background-color: #13af00;
    width: 100%;
}
.service_card:nth-child(2){
    background-color: #1835c2;
}
.service_card:nth-child(2) h2{
    background-color: #2349ff;
    width: 100%;
}
.service_card:nth-child(3){
    background-color: #ff8100;
}
.service_card:nth-child(3) h2{
    background-color: #ff8100;
    width: 100%;
}
.service_card img{
    max-width: 100%;
    border-radius: .5rem;
}
.my-button {
    border: none;
    color: white;
    padding: 10px 15px;
    margin-top: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.service_card:first-child .my-button{
    background-color: #4CAF50;
}
.service_card:nth-child(2) .my-button{
    background-color: #2349ff;
}
.service_card:nth-child(3) .my-button{
    background-color: #ff8100;
}
.service_card:first-child .my-button:hover {
    background-color: #45a049;
}
.service_card:nth-child(2) .my-button:hover{
    background-color: rgb(51, 84, 252);
}
.service_card:nth-child(3) .my-button:hover{
    background-color: #24130124;
}
.my-button a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
}

.logoWhats{
    position: fixed;
    bottom: 45px;
    right: 20px; 
    z-index: 1000;
}

footer{
    background-color: #000;
}

.footerPrimary{
    display: flex;
    max-width: 1300px;
    width: 100%;
    margin: auto;
    color: #fff;
    margin-top: 1em;
    padding: 10px 10px;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
}

footer a{
    color: #fff !important;
}

/*----------Medias Queries----------*/
@media (max-width:1300px){
    .dark-mode{
        max-width: 900px;
    }
    .navbar{
        max-width: 900px;
    }
    .content{
        max-width: 900px;
    }
    hr{
        max-width: 900px;
    }
    .owl-carousel{
        max-width: 900px;
    }
    .card-main{
        max-width: 900px;
    }
    .cards li h4{
        font-size: 12px!important;
    }
    .plano-vivanete{
        max-width: 900px;
    }
    .serviços{
        max-width: 900px;
    }
    .service_card h2{
        font-size: 18px;
    }
}

@media (max-width: 900px){
    body {
        overflow-x: hidden;
    }
    .dark-mode{
        max-width: 660px;
    }
    .navbar-nav{
        position: fixed;
        right: 0;
        height: 100vh;
        top: 0;
        background-color: #5a6f78;
        z-index: 900;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 0%;
        justify-content: flex-start;
        transition: .5s ease-in-out;
        overflow-x: hidden;
    }
    .navbar-nav li{
        margin: 1em auto;
        width:100%;
        display: flex;
        align-items:center;
    }
    .navbar-nav > .nav-item:first-child {
        margin-top: 5em;
    }
    .navbar-nav li a{
        display: flex;
        justify-content: center;
        color: #fff !important;
        width: 100%;
        border: none;
        border-bottom: 1px solid;
        background-color: transparent;
    }
    .content-social{
        display: none;
    }
    .navbar{
        max-width: 660px;
    }
    .content{
        max-width: 660px;
    }
    hr{
        max-width: 660px;
    }
    .burger{
        display: block;
        z-index: 991;
    }
    .burger-active{
        position: fixed;
        right: 0;
    }
    .owl-carousel{
        max-width: 660px;
    }
    .card-main{
        max-width: 660px;
    }
    .cards{
        display: grid;
        justify-content: stretch;
    }
    .cards li{
        width: 100%;
    }
    .cards li h4{
        justify-content: center;
    }
    .plano-vivanete{
        max-width: 660px;
        width: 100%;
    }
    .ver-mais{
        display: none;
    }
    .serviços{
        max-width: 660px;
    }
    .service_card h2{
        font-size: 18px;
    }
}

@media (max-width: 660px){
    .service_content_card{
        grid-template-columns: repeat(1, 1fr);
    }
    .service_card{
        max-width: 300px;
    }
    .service_card h2{
        font-size: 18px;
    }
}
/*----------Medias Queries----------*/

.nav-active{
    width: 50%;
}
.burger-active .line1 {
    transform: rotate(45deg) translate(2px, 4px);
}
.burger-active .line2 {
    display: none;
}
.burger-active .line3 {
    transform: rotate(-45deg) translate(1px, -4px);
}